<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" type="x-icon" href="/static/icon.ico">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="/static/style1.css">
    <title>Register</title>
</head>

<body>
    <nav class="navbar">
        <div class="nav-container">
            <a class="nav-link" href="/login">Log In</a>
        </div>
    </nav>
    <h1>DeadZone Assistant</h1>
    <div class="chat-container">
        <div class="chat-window" id="chatWindow">
            <form action="/login" method="post" class="login-form">
                <h2 class="form-title">Welcome</h2>
                <div class="form-group">
                    <input class="form-control" autocomplete="off" autofocus name="username" placeholder="Username" type="email">
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" placeholder="Password" type="password">
                </div>
                <div class="form-group">
                    <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
                </div>
            </form>
            <div class="login"> 
                <button class="log">Register</button>
            </div>
        </div>
    </div>
</body>

</html>
