body {
    background: url('../static/background image.jpg') no-repeat center center fixed ;
    background-size: cover;
    color: #fff;
    padding: 20px;
    overflow: hidden;
}
@keyframes headingPulse {
    0% {
        color: #8A0303;
    }
    50% {
        color:  #3e0101;
    }
    100% {
        color: #8A0303; 
    }
}
h1,h2{
    font-family: 'Creepster';
    color:#8A0303;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
    animation: headingPulse 0.7s infinite;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../static/background image.jpg');
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
}
@keyframes borderPulse {
    0% {
        border-color: rgba(255, 0, 0, 0.5); /* Light red */
    }
    50% {
        border-color: rgba(255, 0, 0, 1); /* Dark red */
    }
    100% {
        border-color: rgba(255, 0, 0, 0.5); /* Light red */
    }
}
@keyframes shadowPulse {
    0% {
        box-shadow: 0 0 15px rgba(255, 0, 0, 0.5); /* Light red shadow */
    }
    50% {
        box-shadow: 0 0 35px rgba(255, 0, 0, 1); /* Dark red shadow */
    }
    100% {
        box-shadow: 0 0 15px rgba(255, 0, 0, 0.5); /* Light red shadow */
    }
}
.form-control{
    flex: 1;
    padding: 10px;
    background: #222;
    color: white;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 16px;
    animation: borderPulse 1.5s infinite;
}
.chat-container {
    width: 60%;
    margin: auto;
    margin-top: 1.9%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border: 3px solid red;
    border-radius: 10px;
    box-shadow: 0 0 35px red;
    animation: borderPulse 1.5s infinite,shadowPulse 1.5s infinite;
}

.chat-window {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 2px solid red;
    background: #111;
    margin-bottom: 10px;
}
.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
.user-message {
    background: #333;
    color: white;
    text-align: right;
}
.bot-message {
    background: #555;
    color: white;
    text-align: left;
}
.input-area {
    display: flex;
}
.input-field {
    flex: 1;
    padding: 10px;
    background: #222;
    color: white;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 16px;
    animation: borderPulse 1.5s infinite;
}
.send-button,.log {
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 5px;
    transition: 0.3s;
}
.send-button:hover,.log:hover:hover {
    background: darkred;
}
.exit {
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 5px;
    transition: 0.3s;
    display: flex;
    align-items: right;
}
.exit:hover
{
    background: darkred;
}