<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <title>Zombie Apocalypse Chatbot</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>DeadZone Assistant</h1>
    <div class="chat-container">
        <div class="chat-window" id="chatWindow">
            <div class="message bot-message">Welcome to the zombie apocalypse chat. How can I help you survive?</div>
        </div>
        <div class="input-area">
            <input type="text" id="inputField" class="input-field" placeholder="Type your survival query...">
            <button class="send-button" onclick="sendMessage()">Send</button>
        </div>
    </div>

    <footer>
        <button class="exit">Log Out</button>
    </footer>

    <script src="../static/script.js"></script>
</body>
</html>
