body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #f4f4f4;
    background-color: #f4f4f4;
    background-image: url('/static/BG.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.navbar {
    position:fixed;
    width: 100%;
    top:0;
    padding: 10px 0;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 0; 
    margin: 0; 
}

.nav-links {
    list-style: none;
    display:inline-flex;
    gap:20px;
    padding-left: 20px;
    flex-direction:row-reverse;
}


#chat-box {
    background-color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    padding: 20px;
    height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#user-input {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f4f4f4;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
